// MEDIA QUERIES breakpoint

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin respond-from($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: 0px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $xxl) {
      @content;
    }
  }
}

//@include breakpoint-generator(xs, 1);
@include respond-from(sm) {
  @include breakpoint-generator(sm, 1);
}

@include respond-from(md) {
  @include breakpoint-generator(md, 1);
}

@include respond-from(lg) {
  @include breakpoint-generator(lg, 1);
}

@include respond-from(xl) {
  @include breakpoint-generator(xl, 1);
}
@include respond-from(xxl) {
  @include breakpoint-generator(xxl, 1);
}
