$base-size: 16;

// border width (PX)
$border-width: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

// border radius (PX)
$border-radius: 0, 2, 4, 6, 8, 10, 12;

// letter-spacing (px)
$letter-spacing: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

// translate
$translate: 0, 50, 100;

// rotate
$rotate: 45, 90, 180;

// scale
$scale: 1, 2, 3, 4, 5;
$scale0: 9, 8, 7, 6, 5;

// z-index
$index: -1, 0, 10, 20, 30, 40, 50;

// transition
$tdd: 100, 200, 300, 500, 600, 700;
