// TOP
$trbl: 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 100;

@each $n in $trbl {
  .b#{$n} {
    bottom: $n + px;
  }
}

@for $wpect from 12 through 1 {
  $smlr: percentage($wpect/12);
  .b\/#{$wpect} {
    bottom: $smlr;
  }
}
