// FOCUS

:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--primary-color);
}
.focus\:none {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    .#{$size}\:focus\:none {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

@import 'breakpoint';
