// FOR SVG

.fc {
  fill: currentColor;
}
.sc {
  stroke: currentColor;
}

// overlay

$oopa: 2, 4, 6, 8;
@each $n in $oopa {
  .overlayopacity#{$n} {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: #{'0.'}#{$n};
    }
  }
}

// MISC

.tla {
  table-layout: auto;
}
.tlf {
  table-layout: fixed;
}
.an {
  appearance: none;
}
.outline0 {
  outline: 0;
}

.cp {
  cursor: pointer;
}
.cm {
  cursor: move;
}

.wmtbrl {
  writing-mode: tb-rl;
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    // FOR SVG

    .#{$size}\:fc {
      fill: currentColor;
    }
    .#{$size}\:sc {
      stroke: currentColor;
    }

    // MISC

    .#{$size}\:tla {
      table-layout: auto;
    }
    .#{$size}\:tlf {
      table-layout: fixed;
    }
    .#{$size}\:an {
      appearance: none;
    }
    .#{$size}\:outline0 {
      outline: 0;
    }

    .#{$size}\:cp {
      cursor: pointer;
    }
    .#{$size}\:cm {
      cursor: move;
    }
    .#{$size}\:.wmtbrl {
      writing-mode: tb-rl;
    }
  }
}

@import 'breakpoint';
