// object-fit

$object: contain, cover, fill, none;
@each $n in $object {
  .of#{$n} {
    object-fit: $n;
  }
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    @each $n in $object {
      .#{$size}\:of#{$n} {
        object-fit: $n;
      }
    }
  }
}

@import 'breakpoint';
