// object-position

.opt {
  object-position: top;
}
.opb {
  object-position: bottom;
}
.opl {
  object-position: left;
}
.opr {
  object-position: right;
}
.opc {
  object-position: center;
}
.oplb {
  object-position: left bottom;
}
.oplt {
  object-position: left top;
}
.oprb {
  object-position: right bottom;
}
.oprt {
  object-position: right top;
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    // object-position

    .#{$size}\:opt {
      object-position: top;
    }
    .#{$size}\:opb {
      object-position: bottom;
    }
    .#{$size}\:opl {
      object-position: left;
    }
    .#{$size}\:opr {
      object-position: right;
    }
    .#{$size}\:opc {
      object-position: center;
    }
    .#{$size}\:oplb {
      object-position: left bottom;
    }
    .#{$size}\:oplt {
      object-position: left top;
    }
    .#{$size}\:oprb {
      object-position: right bottom;
    }
    .#{$size}\:oprt {
      object-position: right top;
    }
  }
}

@import 'breakpoint';
