// Order
.ofirst {
  order: -9999;
}
.olast {
  order: 9999;
}

$order: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
@each $n in $order {
  .o#{$n} {
    order: $n;
  }
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    // Order
    .#{$size}\:ofirst {
      order: -9999;
    }
    .#{$size}\:olast {
      order: 9999;
    }

    @each $n in $order {
      .#{$size}\:o#{$n} {
        order: $n;
      }
    }
  }
}

@import 'breakpoint';
