@import 'config';

@each $n in $trbl {
  .t#{$n} {
    top: $n + px;
  }
}

@for $wpect from 12 through 1 {
  $smlr: percentage($wpect/12);
  .t\/#{$wpect} {
    top: $smlr;
  }
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    @each $n in $trbl {
      .#{$size}\:t#{$n} {
        top: $n + px;
      }
    }

    @for $wpect from 12 through 1 {
      $smlr: percentage($wpect/12);

      .#{$size}\:t\/#{$wpect} {
        top: $smlr;
      }
    }
  }
}

@import '_breakpoint';
