// vertical-align

.vabl {
  vertical-align: baseline;
}
.vat {
  vertical-align: top;
}
.vam {
  vertical-align: middle;
}
.vab {
  vertical-align: bottom;
}
.vatt {
  vertical-align: text-top;
}
.vatb {
  vertical-align: text-bottom;
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    // vertical-align

    .#{$size}\:vabl {
      vertical-align: baseline;
    }
    .#{$size}\:vat {
      vertical-align: top;
    }
    .#{$size}\:vam {
      vertical-align: middle;
    }
    .#{$size}\:vab {
      vertical-align: bottom;
    }
    .#{$size}\:vatt {
      vertical-align: text-top;
    }
    .#{$size}\:vatb {
      vertical-align: text-bottom;
    }
  }
}

@import 'breakpoint';
