@import 'config';

// z-index

.zia {
  z-index: auto;
}
.ziover {
  z-index: 9999;
}

@each $n in $index {
  .zi#{$n} {
    z-index: $n;
  }
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    .#{$size}\:zia {
      z-index: auto;
    }
    .#{$size}\:ziover {
      z-index: 9999;
    }

    @each $n in $index {
      .#{$size}\:zi#{$n} {
        z-index: $n;
      }
    }
  }
}

@import 'breakpoint';
