// transform-origin

.toc {
  transform-origin: center;
}
.tot {
  transform-origin: top;
}
.totr {
  transform-origin: top right;
}
.tor {
  transform-origin: right;
}
.tobr {
  transform-origin: bottom right;
}
.tob {
  transform-origin: bottom;
}
.tobl {
  transform-origin: bottom left;
}
.tol {
  transform-origin: left;
}
.totl {
  transform-origin: top left;
}
