@import '../config';

// transform scale

.tsn {
  transform: scale(1);
}

@each $n in $scale {
  .tr#{$n} {
    transform: scale(#{'1.'}#{$n});
  }
}

@each $n in $scale0 {
  .tr0#{$n} {
    transform: scale(#{'0.'}#{$n});
  }
}
