// text-decoration

.tdu {
  text-decoration: underline;
}
.tdlt {
  text-decoration: line-through;
}
.tdn {
  text-decoration: none;
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    // text-decoration
    .#{$size}\:tdu {
      text-decoration: underline;
    }
    .#{$size}\:tdlt {
      text-decoration: line-through;
    }
    .#{$size}\:tdn {
      text-decoration: none;
    }
  }
}

@import '../breakpoint';
