// text-align

.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
.talc {
  text-align-last: center;
}
.talr {
  text-align-last: right;
}

@mixin breakpoint-generator($size, $breakpoint-columns) {
  @for $i from 1 through $breakpoint-columns {
    // text-align

    .#{$size}\:tal {
      text-align: left;
    }
    .#{$size}\:tac {
      text-align: center;
    }
    .#{$size}\:tar {
      text-align: right;
    }
    .#{$size}\:taj {
      text-align: justify;
    }
    .#{$size}\:talc {
      text-align-last: center;
    }
    .#{$size}\:talr {
      text-align-last: right;
    }
  }
}

@import '../breakpoint';
