.markdown-section hr {
  display: none;
}

.iframe_code {
  background-color: #dedede;
}

@media (max-width: 1023px) {
  .iframe_code iframe {
    min-height: 80vh;
  }
}
@media (min-width: 1024px) {
  .content {
    padding: 0;
  }

  .markdown-section {
    max-width: 46% !important;
    margin: 0 !important;
  }

  .iframe_code {
    position: fixed;
    right: 0;
    top: 0;
    width: 42%;
    min-height: 100vh;
  }
  .iframe_code iframe {
    margin: 0 !important;
    min-height: 100vh;
    overflow: auto;
    width: 100% !important;
    padding: 30px;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .sidebar {
    width: 220px !important;
  }
  .content {
    left: 220px !important;
  }
}

@media (min-width: 1660px) {
  .markdown-section {
    padding-left: 50px !important;
  }
  .iframe_code iframe {
    padding: 50px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
}
