@import '../config';

// transition

.tpa {
  transition-property: all;
}

@each $n in $tdd {
  .duration#{$n} {
    transition-duration: $n + ms;
  }
  .detay#{$n} {
    transition-delay: $n + ms;
  }
}
